{% extends "base.jinja2" %}
{% block title %}Home{% endblock %}
{% block content %}

    <h1 align =center style="color:Red">Welcome to the Justice League Database</h1>
     <body background="static/jlajpg.jpg"  width=1000px height =400px>


{% endblock %}
